/*              Generel Code                */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 10px;
    width: 100vw;
    background: rgb(253,80,29);
    background: linear-gradient(90deg, rgba(253,80,29,1) 0%, rgba(252,176,69,1) 50%, rgba(253,80,29,1) 100%);
}

/* Grid */
header { grid-area: hd; }
#topLine { grid-area: topLine; }
#contentRow { grid-area: contentRow; }

.grid {
    width: 100%;
    display: grid;
    grid-template-areas: 
    "hd hd hd hd"
    "topLine topLine topLine topLine"
    "contentRow contentRow contentRow contentRow";
    grid-template-rows: 4vh 5vh 91vh;
}



/*              Header Section          */
header {
    background-color: rgba(0, 0, 0, 0.1);
    color: rgba(255, 255, 255,1);
    display: grid;
    grid-template-columns: 2fr 3fr 1fr 12fr 1fr 3fr 1fr 1fr 1fr;

}
header button, .searchbar, 
.plusButton, .profileButton, 
.infoButton, .notificationButton, 
.settingsButton {
    background-color: rgba(255, 255, 255, 0.2);
    padding: 0.2em;
    margin: 0.1em;
    border-radius: 3%;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 1.2em;
}

.logo {
    display: flex;
    align-items: center;
    justify-content: center;
    color: rgba(255, 255, 255, 0.4);
    font-size: 2em;
    font-family: 'Courgette', cursive;
    font-style: italic;
}
.profileButton {
    padding: 0;
}
.profileButton img {
    max-height: 100%;
    border-radius: 5%
}
.fa-cube, .fa-cube {
    margin-right: 0.8em;
}
.fa-search {
    transform-style: ;
}


/* Top Line */
#topLine {
    color: rgba(255, 255, 255,1);
    display: grid;
    grid-template-columns: 1fr 4fr 2fr 2fr 2fr 16fr 3fr 1fr 3fr;
    padding: 0.2em;
    margin: 0.1em;
}
.flight, .overview, .travidux,
.team, .chat, .dots, .menu {
    margin: auto auto auto 0;
} 
.star {
    margin: auto;
} 

.overview {
    font-size: 1.5em;
    font-weight: bold;;
}

.travidux, .team, .chat { 
    width: 100%;
    display: flex;
    justify-content: space-evenly;
}
.fa-fighter-jet {
    margin: auto auto auto 0.5em;
    transform: rotate(-140deg);
    background-color: rgba(0, 0, 0, 0.9);
    border-radius: 50%;

}
#topLine .fa-suitcase, #topLine .fa-star, 
#topLine .fa-user-friends {
    margin-right: 0;
}

/*          Content Row         */


#contentRow {
    max-height: 91vh;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: 1fr;
    overflow-x: scroll;

  
}

.col-one {
    grid-column: 1;
    grid-row: 1;
}
.col-two {
    grid-column: 2;
    grid-row: 1;
}
.col-three {
    grid-column: 3;
    grid-row: 1;
}
.col-four {
    grid-column: 4;
    grid-row: 1;
}
.col-five {
    /* grid-column: ; */
    grid-row: 1;
}


.columns {
    background-color: rgb(218, 211, 211);
    margin: 0.4em 0.2em auto 0.4em;
    border-radius: 5px;
    padding: 1.2em 0.4em;
    width: 24vw;

    /* overflow-y: scroll; */
}
.columns h3 {
    margin-bottom: 1em;
    margin-left: 0.5em;
    font-weight: bold;
}
.adACard {
    margin-top: 1.5em;
    margin-left: 0.5em;
    color: rgb(128, 128, 128);
}
/*  Boxes   */

.boxes {
    background-color: rgba(255, 255, 255, 1);
    margin-bottom: 0.5em;
    padding: 0.5em;
    height: auto;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    border-radius: 2.5px;
}
.boxesImg {
    display: inline-flex;
    justify-content: flex-end;
 
}
.boxesImg img {
    max-height: 2.5em;
    max-width: 2.5em;
    border-radius: 2.5px;
    margin: auto 0.1em;


}
.nestedBoxes {
    display: inline-flex;
    flex-wrap: wrap;
}
.boxes h4 {
    margin: 0.5em;
}
.boxes i {
    margin-left: 1em;
}
.colorLine {
    margin: 4px 4px;
    height: 6px;
    width: 30px;
    border-radius: 15%;
}
.boxesFavicon {
    color: rgb(129, 126, 126);
    display: inline-flex;
}
.boxesFavicon > * {
    padding: 0.3em;
    border-radius: 2.5px;
}
.col-four .boxesFavicon > *:nth-child(1n+2) {
    background-color: rgb(226, 130, 130);
    color: rgba(255, 255, 255, 1);
}
.green {
    background-color: green;
}
.yellow {
    background-color: yellow;
}
.orange {
    background-color: orange;
}
.red {
    background-color: red;
}
.purple {
    background-color: purple;
}
.blue {
    background-color: blue;
}
.lightblue {
    background-color: lightblue;
}
.lightgreen {
    background-color: lightgreen;
}
.pink {
    background-color: pink;
}
.black {
    background-color: black;
}